@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.background {
  z-index: -5;
  height: 100%;
}
.hero-section {
  z-index: 3;
}

.fade-in {
  animation: fade-in .5s ease-in-out;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}


.hero-section button {
  z-index: 1;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #6366f1;
  background-color: #ffffff;
  border: 2px solid #6366f1;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.main-content {
  z-index: 5;
}

.hero-section button:hover {
  background-color: #6366f1;
  color: #ffffff;
  z-index: 1;
}

.about-text {
  font-weight: 500;
  line-height: 1.5;
}

.rounded-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-circle-img {
  opacity: 100%;
}

.rounded-circle:hover img {
  transform: translate(0, -8px) scale(1.08);
}

.github-button {
  z-index: 1;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  color: #6366f1;
  background-color: #ffffff;
  border: 2px solid #6366f1;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.github-button:hover {
  background-color: #6366f1;
  color: #ffffff;
  z-index: 1;
}

.main {
  padding-top: calc(3vw + 20px);
}